<div class="flex justify-center items-center pt-20">
    <div>
        여기는 firstPage!! 버튼을 눌러서 이동해봅시당
        <div class="flex justify-between">
            <div class="border box-border shadow rounded-md border-yellow-400 text-yellow-500 px-3 py2-"
                routerLink="/">
                Home
            </div>
            <div class="border box-border shadow rounded-md border-blue-400 text-blue-500 px-3 py2-"
                routerLink="/about-us">
                About us
            </div>
        </div>
        <pre>isLoggedIn: {{ isLoggedIn$ | async }}</pre>
    </div>
</div>