<img src="https://i.kym-cdn.com/photos/images/newsfeed/000/538/460/90d.jpg" />
<div class="flex justify-center items-center pt-20">
    <div>
        여기가 메인 페이지! 버튼을 만들어 봅시당
        <div class="flex justify-between">
            <div class="border box-border shadow rounded-md border-yellow-400 text-yellow-500 px-3 py2-"
                routerLink="/">
                Home
            </div>
            <div class="border box-border shadow rounded-md border-blue-400 text-blue-500 px-3 py2-"
                routerLink="/firstPage">
                firstPage
            </div>
        </div>
        <!-- <pre>isLoggedIn: {{ isLoggedIn$ | async }}</pre> -->
    </div>
</div>